@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The company’s key focuses will be safety and customer service. Safety provides not only a way to control costs, but sends a signal to the driving public about our attitude. We participate in an insurance group that demands safety and helps benchmark our standards and results against some of the best in the country.</p>
