@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Akal Trucking LLC<br />
    Oak Creek, WI 53154<br />
    <abbr title="Phone">P:</abbr>
    414.750.8616
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Sukh286@Gmail.com">Sukh286@Gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:AkalTrucking@Gmail.com">AkalTrucking@Gmail.com</a>
</address>