@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome to Akal Trucking</h1>
    <p> Akal Trucking, a family-owned and operated trucking company, 
        combines small-town personal service with dependable, nationwide delivery capability.</p>
    <blockquote>
        <p class="text-muted">
            The main purpose of our company is to deliver merchandise to customers in a manner that will optimize the cooperative's
            market share and savings, improve the cooperative's efficiency, help achieve the
            cooperative's mission and goals, and result in outstanding customer service.
        </p>
    </blockquote>
</div>
